@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-h1 {
  @apply font-semibold font-sans;
  font-size: 40px;
  line-height: 100%;
}
.text-h3 {
  @apply font-medium font-sans;
  font-size: 12px;
  line-height: 16px;
}

.text-location {
  @apply font-semibold font-sans;
  font-size: 14px;
  line-height: 100%;
}
.text-code-state {
  @apply font-semibold font-sans;
  font-size: 12px;
  line-height: 100%;
}

.custom-input .ant-select-prefix,
.custom-input .ant-input-prefix,
.custom-input .ant-picker-prefix {
  margin-right: 8px;
  margin-left: 4px;
}

.custom-input.ant-picker-disabled {
  background-color: #2426281a !important;
  opacity: 1 !important;
  color: #cccfd5 !important;
}

.custom-input.ant-picker-disabled .ant-picker-input > input {
  color: #cccfd5 !important;
}

.custom-input.ant-picker-disabled .ant-picker-prefix {
  opacity: 0.6;
}

.custom-input.ant-select .ant-select-selector {
  border-radius: 8px;
  border: 1px solid #cccfd5;
}
